<header class="header-area header-one transparent-header pt-2">
        <div class="container">
                <!--====  Header Navigation  ===-->
                <div class="header-navigation">
                        <!--====  Header Nav Inner  ===-->
                        <div class="nav-inner-menu">
                                <!--====  Primary Menu  ===-->
                                <div class="primary-menu">
                                        <!--====  Site Branding  ===-->
                                        <div class="site-branding">
                                                <a href="index.html" class="brand-logo"><img
                                                                src="assets/images/home-restaurant/logo/logo-white.png"
                                                                alt="Brand Logo"></a>
                                        </div>
                                        <!--=== Theme Main Menu ===-->
                                        <div class="theme-nav-menu">
                                                <!-- Theme Menu Top -->
                                                <div
                                                        class="theme-menu-top d-flex justify-content-between d-block d-lg-none mb-4">
                                                        <div class="site-branding">
                                                                <a href="index.html" class="brand-logo"><img
                                                                                src="assets/images/home-restaurant/logo/logo-main.png"
                                                                                alt="Brand Logo"></a>
                                                        </div>
                                                        <div class="navbar-close">
                                                                <i class="far fa-times"></i>
                                                        </div>
                                                </div>
                                                <!--=== Main Menu ===-->
                                                <nav class="main-menu">
                                                        
                                                </nav>
                                                <!--=== Theme Nav Button ===-->
                                                <div class="theme-nav-button mt-3 d-block d-md-none">
                                                        <a href="contact.html" class="theme-btn style-one">
                                                                Contact
                                                        </a>
                                                </div>
                                                <!--=== Theme Menu Bottom ===-->
                                                <div class="theme-menu-bottom mt-5 d-block d-lg-none">
                                                        <h5>Follow Us</h5>
                                                        <ul class="social-link">
                                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                                                                </li>
                                                                <li><a href="#"><i class="fab fa-twitter"></i></a>
                                                                </li>
                                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a>
                                                                </li>
                                                                <li><a href="#"><i class="fab fa-youtube"></i></a>
                                                                </li>
                                                        </ul>
                                                </div>
                                        </div>
                                        <!--=== Header Nav Right ===-->
                                        <div class="nav-right-item">
                                                <div class="nav-button d-none d-md-block">
                                                        <a href="contact.html"class="theme-btn style-one">Contact</a>
                                                </div>
                                                <div class="navbar-toggler">
                                                        <span></span>
                                                        <span></span>
                                                        <span></span>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</header><!--======  End Header Area  ======-->